@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,regular,italic,500,700,900,);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  /* width: 100%; */
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------*/
.wrapper {
  font-family: Roboto;
  color: #00194A;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 8;
  background-color: white;
}
.header__body {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}
.header__logo {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23/20 * 100%);
  color: #FF0043;
}
.header__burger {
  display: none;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__button a {
  color: white;
}
.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 23px;
  background-color: #FF0043;
  min-height: 46px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
}
.header__btn:hover {
  background-color: #a10c34;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.menu__item:not(:last-child) {
  padding: 0px 30px 0px 0px;
}
.menu__link {
  color: #00194A;
  position: relative;
  text-decoration: none;
}
.menu__link:after {
  content: "";
  position: absolute;
  background-color: #FF0043;
  height: 3px;
  width: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1);
  bottom: -10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover:after {
  width: 100%;
}
.menu__link:hover {
  color: #FF0043;
}

@media (max-width: 600px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    cursor: pointer;
  }
  .header__burger span {
    position: absolute;
    background-color: #00194A;
    width: 100%;
    height: 4px;
    left: 0;
    top: 8px;
    border-radius: 20px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #00194A;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    border-radius: 20px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    border-radius: 20px;
    overflow: hidden;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 7px;
    border-radius: 20px;
    overflow: hidden;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    display: block;
    position: fixed;
    top: -100%;
    right: 0;
    width: 30%;
    background-color: #FF0043;
    padding: 40px 0px 0px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    border-radius: 32px;
    margin-right: 5px;
    margin-top: 2px;
  }
  .header__menu.active {
    top: 0;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }

  .menu__list {
    display: block;
  }

  .menu__item:not(:last-child) {
    padding: 0px 0px 0px 0px;
  }

  .menu__item a {
    color: white;
  }
  .menu__item a:hover {
    color: #00194A;
  }

  .menu__list li {
    margin: 20px 10px 10px 10px;
  }

  body.lock {
    overflow: visible;
  }
}
@media (max-width: 450px) {
  .header__menu {
    width: 40%;
  }

  .header__button {
    margin-right: 80px;
  }
}
@media (max-width: 420px) {
  .header__menu {
    width: 35%;
    padding: 20px 0px 0px 0px;
  }
}
._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._btn {
  border-radius: 50px;
  background-color: #FF0043;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 275px;
}
._btn:hover {
  background-color: #a10c34;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-block__body {
  padding: 250px 0px 130px 0px;
  position: relative;
}
@media (max-width: 450px) {
  .main-block__body {
    padding: 250px 0px 50px 0px;
  }
}
.main-block__img {
  position: absolute;
  right: 0;
  z-index: 0;
  top: 70px;
  margin-right: -110px;
  background-color: white;
}
.main-block__img img {
  min-width: 655px;
  min-height: 604px;
}

.info {
  position: relative;
  max-width: 600px;
  z-index: 2;
}
.info__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 142%;
  color: #00194A;
  z-index: 2;
  margin-bottom: 20px;
}
.info__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 156%;
  color: #00194A;
  z-index: 2;
}
.info__button {
  margin-top: 50px;
  z-index: 3;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: white;
}

@media (max-width: 450px) {
  ._btn {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .main-block__img {
    opacity: 0.5;
  }
}
.page__download {
  padding-bottom: 40px;
  background-color: #F2F2F2;
  padding-top: 40px;
}

.download__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 -15px;
  padding: 10px 0px 10px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.download__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 0px 15px;
  min-width: 254px;
}
.download__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}
@media (max-width: 760px) {
  .download__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .download__column {
    padding: 15px 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
@media (max-width: 500px) {
  .download__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.download .item-download {
  background-color: white;
  padding: 30px 30px;
  border-radius: 25px;
}
.download .item-download:hover {
  -webkit-box-shadow: 0px 2px 5px black;
  box-shadow: 0px 2px 5px black;
  -webkit-transition-duration: 1s;
  transition-duration: 0s;
}
.download .item-download__logo {
  height: 48px;
  width: 40px;
}
.download .item-download__logo_big {
  width: 102px;
  -webkit-transform: none;
          transform: none;
}
.download .item-download__logo:hover {
  -webkit-transform: rotate3d(0, 1, 0, 360deg) scale(1);
          transform: rotate3d(0, 1, 0, 360deg) scale(1);
  -webkit-transition: all 1s ease 0.1s;
  transition: all 1s ease 0.1s;
}
.download .item-download__system {
  font-weight: 500;
  font-size: 22px;
  line-height: 118%;
  color: #00194A;
}
.download .item-download__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 162%;
  opacity: 0.9;
  color: #00194A;
}
.download .item-download__try {
  opacity: 0.8;
  font-size: 16px;
  line-height: 118%;
  text-decoration: underline;
}
.download .item-download__try a {
  color: #00194A;
}
.download .item-download > *:not(:last-child) {
  margin-bottom: 20px;
}
.download .try {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.download .try__beta:hover {
  font-size: 18px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.download .try__logo {
  height: 20px;
  width: 21px;
}
.download .try__logo:hover {
  -webkit-transform: rotate(360deg) scale(1);
          transform: rotate(360deg) scale(1);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.page__simple {
  margin-top: 40px;
}

.simple__container {
  position: relative;
}
.simple__oval {
  position: absolute;
  left: -114px;
  top: -80px;
  z-index: 0;
}
@media (max-width: 730px) {
  .simple__oval {
    left: 0;
  }
}
.simple__oval_keep {
  position: absolute;
  left: 230px;
  top: -65px;
  z-index: 0;
}
@media (max-width: 1000px) {
  .simple__oval_keep {
    left: 55%;
  }
}
.simple__body {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 2;
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}
.simple__body_keep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 150px;
}
@media (max-width: 1000px) {
  .simple__body_keep {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 50px;
  }
}
.simple__chat {
  position: relative;
}
.simple__human {
  height: 480px;
  width: 370px;
  top: 0;
  left: -15px;
}
.simple__women {
  height: 270px;
  width: 451px;
  position: absolute;
  top: 280px;
  left: 90px;
  z-index: 5;
}
.simple__women_like {
  height: 430px;
  width: 414px;
  position: absolute;
  top: 200px;
  left: 90px;
}
@media (max-width: 1000px) {
  .simple__women_like {
    margin-bottom: 1000px;
  }
}
.simple__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 60px;
}
.simple__info_keep {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 60px;
}
@media (max-width: 1000px) {
  .simple__info_keep {
    margin-top: 150px;
  }
}
.simple__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #00194A;
}
.simple__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 156%;
  color: #00194A;
  margin-top: 30px;
}
@media (max-width: 1100px) {
  .simple__women {
    left: -20px;
  }
}
@media (max-width: 850px) {
  .simple__women {
    height: 230px;
    width: 400px;
  }
}
@media (max-width: 730px) {
  .simple__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .simple__info {
    text-align: center;
  }
  .simple__human {
    left: 0;
  }
  .simple__women {
    left: 50%;
    -webkit-transform: translate(-50%, -20%) scale(1);
            transform: translate(-50%, -20%) scale(1);
    width: 350px;
  }
}

.page__sharing {
  background-color: #F2F2F2;
  margin-bottom: 70px;
  margin-top: 50px;
}

.sharing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 900px) {
  .sharing__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sharing__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: red;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sharing__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-left: 10px;
}
@media (max-width: 900px) {
  .sharing__slider {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.sharing__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #00194A;
}
.sharing__text {
  margin: 30px 0px 0px 0px;
  font-weight: 300;
  font-size: 18px;
  line-height: 156%;
  color: #00194A;
}

.slick-slider {
  /* Ограничивающая оболочка */
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slider .slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 5;
  font-size: 0;
  width: 30px;
  height: 50px;
}

.slider .slick-arrow.slick-prev {
  margin-top: 70px;
  top: 0;
  left: 70%;
  -webkit-transform: translate(-70%, 0) rotate(180deg) scale(1);
          transform: translate(-70%, 0) rotate(180deg) scale(1);
  opacity: 0.7;
  background: url("../img/sharing/Path.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-prev:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider .slick-arrow.slick-next {
  margin-bottom: 70px;
  left: 70%;
  opacity: 0.7;
  -webkit-transform: translate(-70%, 0) scale(1);
          transform: translate(-70%, 0) scale(1);
  background: url("../img/sharing/Path.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 600px) {
  .slider .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }
}
.slider__slider1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 600px) {
  .slider__slider1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.slider__slider2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 600px) {
  .slider__slider2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 900px) {
  .slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.slider1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider1__item {
  padding: 30px 20px;
  background-color: white;
  border-radius: 25px;
  margin: 25px 15px;
}
.slider1__item > *:not(:first-child) {
  padding-top: 20px;
}
.slider1__item:hover {
  -webkit-box-shadow: 0px 2px 5px black;
  box-shadow: 0px 2px 5px black;
  -webkit-transition-duration: 1s;
  transition-duration: 0s;
}
.slider1__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #00194A;
}
.slider1__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 164%;
  color: #00194A;
  opacity: 0.8;
}

.slider2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider2__item {
  padding: 30px 20px;
  background-color: white;
  border-radius: 25px;
  margin: 25px 15px;
}
.slider2__item > *:not(:first-child) {
  padding-top: 20px;
}
.slider2__item:hover {
  -webkit-box-shadow: 0px 2px 5px black;
  box-shadow: 0px 2px 5px black;
  -webkit-transition-duration: 1s;
  transition-duration: 0s;
}
.slider2__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #00194A;
}
.slider2__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 164%;
  color: #00194A;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* Точки (булиты) */
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 5px 0px 10px;
}

.slider .slick-dots button {
  font-size: 0px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #000;
}

.slider .slick-dots li.slick-active button {
  background-color: #FF0043;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.page__start {
  background-color: #00194A;
}

.start {
  margin-top: 50px;
}
.start__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.start__body > *:not(:last-child) {
  padding-top: 50px;
}
.start__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  text-align: center;
  color: #FFFFFF;
}
.start__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #FFFFFF;
}
.start__button {
  margin-top: 50px;
  z-index: 3;
  font-weight: 500;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  min-height: 60px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 26px;
  min-width: 275px;
  color: #FF0043;
  margin-bottom: 50px;
  border: 1px solid;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.start__button:hover {
  color: white;
  border: 0;
  background-color: #FF0043;
  -webkit-box-shadow: 10px 10px 100px 20px #FF0043;
          box-shadow: 10px 10px 100px 20px #FF0043;
}
@media (max-width: 450px) {
  .start ._btn {
    width: 100%;
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}
@media (max-width: 550px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__link a {
  color: #00194A;
}
.footer__link:not(:last-child) {
  padding-right: 40px;
}